html{
    box-sizing: border-box;
    }
    
    *, *::before, *::after{
    box-sizing: inherit;
    }

h1{
    color: limegreen;
    text-align: center;
}
h3{
    color: limegreen;
    text-align: center;
}
body{
    background-color: black;
}

#container{
    max-width: 100%;
    display: flex;
}

#calculator{
    flex-basis: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: limegreen;
    border: 5px solid darkgreen;
    border-radius: 10%;

}

#display{
    flex-basis: 50%;
    background-color: black;
    color: limegreen;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0px;
    text-align: center;
    font-size: larger;
    border: 1px solid green;
    border-radius: 10%;
    

}

#buttons, #buttons1, #buttons2, #buttons3{
    display:flex;
}

button{
    background-color: black;
    text-align: center;
    color: limegreen;
    padding: 40px;
    border: 1px solid darkgreen;
    flex-basis: 100%;
    cursor: pointer;
    border-radius: 50%;
}

#buttons1 button, #buttons3 button{
    color: limegreen;
}
