html{
    box-sizing: border-box;
    }
    
    *, *::before, *::after{
    box-sizing: inherit;
    }

h1{
    color: orange;
    text-align: center;
}
body{
    background-image: linear-gradient(black, orange, black);
}

#container{
    max-width: 100%;
    display: flex;
}

#calculator{
    flex-basis: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: orange;

}

#display{
    flex-basis: 50%;
    background-color: black;
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
    border: 1px solid orange;
    

}

#buttons, #buttons1, #buttons2, #buttons3{
    display:flex;
}

button{
    background-color: black;
    text-align: center;
    color: orange;
    padding: 30px;
    border: 1px solid orange;
    flex-basis: 100%;
}